.mainContainer {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/galaxy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.card {
  width: 40%;
  margin: auto;
  border: 0.5px solid black;
}

.mobCard {
  width: 80%;
  margin: auto;
  border: 0.5px solid black;
}

.cardHeader {
  background-color: lightgray;
  border-bottom: 0.5px solid black;
  font-size: 2rem;
  padding: 15px 0;
  text-align: center;
  color: white;
}

.form {
  text-align: center;
}

.textField {
  margin: 20px 0px;
  width: 80%;
}

.btn {
  border-color: green;
  color: green;
  transition-duration: 500ms;
  transition-property: color, border, background-color;
  margin: 20px 0px;
  width: 80%;
}

.btn:hover {
  border-color: green;
  color: white;
  background-color: green;
}
