.homeContainer {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/galaxy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

.card {
  width: 40%;
  margin: auto;
  border: 0.5px solid black;
}

.mobCard {
  width: 80%;
  margin: auto;
  border: 0.5px solid black;
}

.cardHeader {
  background-color: lightgray;
  border-bottom: 0.5px solid black;
  font-size: 2rem;
  padding: 15px 0;
  text-align: center;
  color: white;
}

.search {
  margin: 20px 0;
}

.homeContainer a {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
  transition-duration: 350ms;
}

.homeContainer a:hover {
  text-decoration: underline;
}
