.mainContainer {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/galaxy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

.card {
  width: 40%;
  border: 0.5px solid black;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mobCard {
  width: 80%;
  border: 0.5px solid black;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cardHeader {
  background-color: purple;
  border-bottom: 0.5px solid black;
  font-size: 2rem;
  padding: 15px 0;
  text-align: center;
  color: white;
}

.error {
  margin: 100px auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  color: green;
  border-color: green;
  transition-duration: 400ms;
  text-transform: none;
  transition-property: all;
}

.btn:hover {
  color: white;
  border-color: green;
  background: green;
}

.titleContainer {
  padding: 10px 0;
  border: 1px solid black;
  text-align: center;
  background-color: purple;
  color: white;
}

.input {
  margin: 30px auto;
}

.input:focus {
  border: red;
}
